Content/** filter=lfs diff=lfs merge=lfs -text
*.ts filter= diff= merge= text
*.js filter= diff= merge= text
*.json filter= diff= merge= text
*.md filter= diff= merge= text
*.txt filter= diff= merge= text
