Binaries
DerivedDataCache
Intermediate
Saved
Build
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.idea
Plugins/Developer/
node_modules/
Content/Maps/TheHive.umap
Content/Maps/AITestMap.umap
Content/Default_level_Sequence.uasset
